<div class="experience">
  <div class="experience__item">
    <div class="experience__time-box">
      <p class="experience__year-text">2016/07 - now</p>
      <p class="experience__year-text experience__year-text_dark">(6 years)</p>
    </div>
    <div class="experience__info-box">
      <p class="experience__company">富比庫股份有限公司</p>
      <p class="experience__job-title">全端工程師</p>
      <div class="experience__job-work-box">
        <div class="experience__job-work">
          <h4 class="experience__work-title">- 提供相關部門報表產出 (後端)</h4>
          <ul class="experience__work-list">
            <li class="experience__work-text">使用 PHP, MySQL, PHP Excel, PHPMailer & Crontab 進行報表的生成與排程寄送</li>
          </ul>
        </div>
        <div class="experience__job-work">
          <h4 class="experience__work-title">- 零件狀態與部門人員工作追蹤工具 (前後端)</h4>
          <ul class="experience__work-list">
            <li class="experience__work-text">(需求) 與使用者討論需求與畫面設計</li>
            <li class="experience__work-text">(前端) 畫面切版, 串接後端 API 並使用 D3.js & DataTables 進行表格與甘特圖功能開發</li>
            <li class="experience__work-text">(後端) 使用 PHP, MySQL 來開發 API, 也利用 PHP Excel 提供報表 Excel 下載</li>
          </ul>
        </div>
        <div class="experience__job-work">
          <h4 class="experience__work-title">- 零件規則管理工具 (前後端)</h4>
          <ul class="experience__work-list">
            <li class="experience__work-text">(需求) 和團隊人員討論相關需求與畫面, 且與公司設計部門使用 Zeplin 進行溝通</li>
            <li class="experience__work-text">(前端) 使用 Angluar9, Angular Material 進行前端開發</li>
            <li class="experience__work-text">(後端) 使用 Laravel 來開發 API</li>
          </ul>
        </div>
        <div class="experience__job-work">
          <h4 class="experience__work-title">- 資料庫與系統分析</h4>
          <ul class="experience__work-list">
            <li class="experience__work-text">零件專案系統與資料庫分析, 且有繪製相關UML文件 (Use Case, Activity Diagram)</li>
          </ul>
        </div>
        <div class="experience__job-work">
          <h4 class="experience__work-title">- 部門事項</h4>
          <ul class="experience__work-list">
            <li class="experience__work-text">協助部門經理處理相關事項</li>
            <li class="experience__work-text">曾經任職雲端部門前端組組長並協助建立前端組相關開發規範</li>
            <li class="experience__work-text">協助進行雲端平台的系統上線</li>
            <li class="experience__work-text">協助建立部門開發平台與測試平台的前端更新流程</li>
            <li class="experience__work-text">協助管理部門專案進度與需求討論與確認組員個人進度</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
