@import 'variable';
@import 'mixins';
@import 'icon';

.experience {
  padding: 0 8rem;

  @include response (tablet) {
    padding: 0 2rem;
  }

  &__item {
    display: flex;

    @include response (tablet) {
      flex-direction: column;
    }
  }

  &__time-box {
    flex: 0 0 20rem;
    margin-right: 5rem;
    border-right: 3px solid $color-gray4;

    @include response (tablet) {
      display: none;
    }
  }

  &__info-box {
    min-height: 20rem;
  }

  &__year-text {
    padding-right: 2rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: $color-blue-light;

    &_dark {
      color: $color-blue-dark;
    }
  }

  &__company {
    font-size: 3rem;
    font-weight: 700;
    color: $color-blue-light-second;

    @include response (tablet) {
      line-height: 3rem;
    }

    &_sub {
      font-size: 1.8rem;
      display: none;
      margin-left: 1rem;

      @include response (tablet) {
        display: inline-block;
      }
    }
  }

  &__job-title {
    margin-left: 1rem;
    margin-bottom: 2rem;
    font-style: italic;
    font-size: 2.2rem;
    font-weight: 700;
    color: $color-blue-dark;
  }

  &__job-work-box {
    font-size: 1.8rem;
  }

  &__job-work {
    font-size: inherit;
    text-indent: 1.8rem;
    color: $color-blue-dark;

    &:not(:last-child) {
      margin-bottom: 1.8rem;

      @include response (tablet) {
        margin-bottom: 4rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #ccc;
      }
    }
  }

  &__work-list {
    padding-left: 7rem;
  }

  &__work-title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__work-text {
    font-size: inherit;
  }
}
