@import 'variable';
@import 'mixins';
@import 'icon';

.project {
  padding: 0 8rem;

  @include response (tablet) {
    padding: 0 2rem;
  }

  &:not(:last-child) {
    margin-bottom: 5rem;
    border-bottom: 1px solid $color-gray2;

    @include response (tablet) {
      margin-bottom: 3rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;

    @include response (tablet) {
      flex-direction: column;
    }
  }

  &__img-box {
    display: flex;
    position: relative;
    flex: 0 0 70rem;
    height: 37rem;
    margin-right: 5rem;
    background-color: #fff;
    border: 1px solid $color-gray2;
    border-radius: 8px;
    box-shadow: 0 0 1rem 1rem $color-shadow;
    overflow: hidden;

    @include response (tablet) {
      flex: unset;
      width: 95%;
      margin-right: 0;
      margin-bottom: 5rem;
    }

    @include response (phone) {
      height: 25rem;
    }

    & > input {
      display: none;
    }
  }

  &__img-function {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &__img-selection-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img-selection {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid $color-gray1;
    margin: 0 .5rem;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .8s;
  }

  &__info-box {
    flex: 1;
  }

  &__name {
    font-size: 2.8rem;
    font-weight: 700;
  }

  &__note {
    font-size: 1.8rem;
    color: $color-red-light;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  &__description-box {
    font-size: 2.2rem;

    & > * {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }

  &__description {
    font-size: inherit;
    color: $color-gray3;
  }
}
