<div class="about-me">
  <p class="about-me__text">
    我目前任職於富比庫股份有限公司，一開始進入公司時是使用 PHP 進行開發，由於當初公司於草創時期，在人手不足的情況下，有花時間去學習 Javascript 的部分，因為當時公司的開發模式為前端工程師切版，會由後端工程師進行套版與JS的撰寫。
  </p>
  <p class="about-me__text">
    後來因為開發人員人力逐漸足夠，我被分派至進行系統分析的作業，在這階段主要學習了設計資料庫以及撰寫相關系統設計文件，像是 Use Case Diagram 和 Activity Diagram，除了系統分析的工作外，也會與其他部門的人員進行需求上的討論。
  </p>
  <p class="about-me__text">
    在組織架構逐漸完善後，我被分派至去管理網頁部門的前端開發組別，其中也與組員們討論並制定了前端組的相關開發規範，也與組員們討論後決定引入 Angular 框架來進行開發。
  </p>
  <p class="about-me__text">
    在團隊合作上，我也善於與團隊成員溝通，除了實現需求端需要的功能外，也會與團隊成員討論出相對好的處理方式，避免造成開發人員的負擔卻又無法滿足功能的需求。
  </p>
  <p class="about-me__text">
    我在任何工作上，不管是不是自己擅長的領域，都願意花時間與心力去學習，畢竟實力累積下來都是自己的，我相信這樣的心態對提升自己會有很大的幫助。
  </p>
</div>
