<div class="about-me">
  <p class="about-me__text">
    在過往的工作經驗中，因為待過新創公司，因此不論是程式開發、系統分析、人員管理或是需求討論都有相關的經驗
  </p>
  <p class="about-me__text">
    程式開發的部分雖然我最一開始擅長的程式語言是後端及資料庫，但因為之前任職需要，因此我有投入相對的資源去學習前端，後面也協助建立了開發部門的前端規範，後來發現對前端的興趣也蠻高的，所以後續換工作的時候有找了前端工程師的工作去做，而在後續的前端工作下主要是協助客戶的系統維運(香港屈臣氏)，也因為他們的作業模式讓我接觸到了JIRA這個專案管理的平台，也在這陣子對於敏捷式開發有更多的經驗與理解，而現職來說主要是以全端開發為主。
  </p>
  <p class="about-me__text">
    需求分析的部分，有藉由Activity diagram 及 use case 來進行相關的使用者需求分析，也有撰寫過相關的需求分析文件書，再透過這些分析去設計相對應的關聯式資料庫，這個經驗主要讓我在往後的系統開發下可以考慮的更多，會從更多的面向去思考怎麼做會比較好，畢竟對我來說，能夠讓使用者用到理想的系統才是最好的。
  </p>
  <p class="about-me__text">
    管理的部分則是在第一間公司有較多的經驗，除了有管理人數約4~6人的前端組以外，還有協助部門主管研究新技術及相關技術可行性的評估，管理前端組主要的工作會是需要與各個專案的PM去協調人力，以及管理他們目前手上的專案及工作量，還有做 Code Review，對我來說學到最多的是如何與不同個性的人進行溝通，並且需要以各個人員的特質或能力來去分配工作，當他們在工作中遇到什麼困難或是需要幫助的時候更需要即時的去協助他們，對我來說是個難能可貴的經驗
  </p>
  <p class="about-me__text">
    專案的管理上，我也善於與團隊成員和需求端進行溝通，除了實現需求端需要的功能外，也需要考量到開發人員的開發成本及能力，因此如果在需求與開發端有衝突的時候，也會與團隊成員討論出相對好的處理方式，避免造成開發人員的負擔卻又無法滿足功能的需求。
  </p>
  <p class="about-me__text">
    我在任何工作上，不管是不是自己擅長的領域，都願意花時間與心力去學習，畢竟實力累積下來都是自己的，我相信這樣的心態對提升自己會有很大的幫助。
  </p>
</div>
