@import 'variable';
@import 'mixins';
@import 'icon';

.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include response (tablet) {
    flex-direction: column;
  }

  &__photo {
    width: 30rem;
    border-radius: 50%;
    margin-right: 5rem;

    @include response (tablet) {
      margin-right: 0;
    }
  }

  &__name-box {
    display: flex;
    flex-direction: column;
  }

  &__name {
    margin-top: 4rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;

    @include response (tablet) {
      font-size: 3.8rem;
    }
  }

  &__title {
    margin-left: 3rem;
    margin-bottom: 3rem;
    font-size: 2.4rem;
    font-weight: 400;
    font-style: italic;
    color: $color-gray3;

    @include response (tablet) {
      font-size: 2.2rem;
    }
  }

  &__contact-box {
    margin-left: 3rem;
  }

  &__contact-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 3.4rem;
    color: $color-gray3;

    &_link-box {
        margin-top: 2rem;
    }

    &:not(:last-child) {
        margin-bottom: .5rem;
    }

    & > * {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
  }

  &__contact-text {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.4rem;
    height: 3.4rem;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }
  }
}
