<div class="profile">
  <img class="profile__photo" src="../../../../assets/images/profile.png" alt="photo for Henry" srcset="">
  <div class="profile__name-box">
    <p class="profile__name">施冠宇 (Henry Shih)</p>
    <p class="profile__title">前端工程師</p>
    <div class="profile__contact-box">
      <div class="profile__contact-item">
        <svg class="icn-2020">
            <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-mail"></use>
        </svg>
        <a class="profile__contact-text" href="mailto:siezlh4405@gmail.com">siezlh4405@gmail.com</a>
      </div>
      <div class="profile__contact-item">
        <svg class="icn-2020">
            <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-old-phone"></use>
        </svg>
        <a class="profile__contact-text" href="tel:0936873526">0936873526</a>
      </div>
      <div class="profile__contact-item">
        <svg class="icn-2020">
            <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-location-pin"></use>
        </svg>
        <p class="profile__contact-text">台灣 高雄市 Kaohsiung City</p>
      </div>
      <div class="profile__contact-item">
        <svg class="icn-2020">
            <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-graduation-cap"></use>
        </svg>
        <p class="profile__contact-text">高雄應用科技大學 電子工程系電子組 2012/9~2016/6</p>
      </div>
      <div class="profile__contact-item profile__contact-item_link-box">
        <a class="profile__link" href="https://www.linkedin.com/in/%E5%86%A0%E5%AE%87-%E6%96%BD-62264926b" target="_blank">
            <svg class="icn-3030">
                <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
        </a>
        <a class="profile__link" href="https://github.com/siezlh4405" target="_blank">
            <svg class="icn-3030">
                <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-github"></use>
            </svg>
        </a>
      </div>
    </div>
  </div>
</div>
