<section class="section">
  <app-profile></app-profile>
</section>
<section class="section">
  <div class="section__title-box">
    <h2 class="section__title">關於我</h2>
    <h3 class="section__sub-title">About Me</h3>
  </div>
  <app-about-me></app-about-me>
</section>
<section class="section">
  <div class="section__title-box">
    <h2 class="section__title">技能</h2>
    <h3 class="section__sub-title">Skills</h3>
  </div>
  <app-skill></app-skill>
</section>
<section class="section">
  <div class="section__title-box">
    <h2 class="section__title">工作經歷</h2>
    <h3 class="section__sub-title">Work Experiences</h3>
  </div>
  <app-experiences></app-experiences>
</section>
<section class="section">
  <div class="section__title-box">
    <h2 class="section__title">專案</h2>
    <h3 class="section__sub-title">Project</h3>
  </div>
  <app-side-project></app-side-project>
</section>
