<div class="skill">
  <div class="skill__item">
    <svg class="skill__img">
      <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-html5"></use>
    </svg>
    <p class="skill__text">HTML5</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
  <div class="skill__item">
    <svg class="skill__img">
      <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-css3"></use>
    </svg>
    <p class="skill__text">CSS3</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
  <div class="skill__item">
    <svg class="skill__img">
      <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-javascript"></use>
    </svg>
    <p class="skill__text">Javascript</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
  <div class="skill__item">
    <svg class="skill__img">
      <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-angular"></use>
    </svg>
    <p class="skill__text">Angular</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
  <div class="skill__item">
    <svg class="skill__img">
      <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-php"></use>
    </svg>
    <p class="skill__text">PHP</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
  <div class="skill__item">
    <svg class="skill__img">
      <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-mysql"></use>
    </svg>
    <p class="skill__text">MySQL</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
  <div class="skill__item">
    <svg class="skill__img">
        <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-laravel"></use>
    </svg>
    <p class="skill__text">Laravel</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
</div>
