<div class="skill">
  <div class="skill__item">
    <svg class="skill__img">
      <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-html5"></use>
    </svg>
    <p class="skill__text">HTML5</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
  <div class="skill__item">
    <svg class="skill__img">
      <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-css3"></use>
    </svg>
    <p class="skill__text">CSS3</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
  <div class="skill__item">
    <svg class="skill__img">
      <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-javascript"></use>
    </svg>
    <p class="skill__text">Javascript</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
  <div class="skill__item">
    <svg class="skill__img">
      <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-angular"></use>
    </svg>
    <p class="skill__text">Angular</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
  <div class="skill__item">
    <img src="../../../../assets/images/rxjs.jpg" alt=""git srcset="" class="skill__png">
    <p class="skill__text">RXJS</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
  <div class="skill__item">
    <img src="../../../../assets/images/ts.png" alt=""git srcset="" class="skill__png">
    <p class="skill__text">TypeScript</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
  <div class="skill__item">
    <svg class="skill__img">
      <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-php"></use>
    </svg>
    <p class="skill__text">PHP</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
  <div class="skill__item">
    <svg class="skill__img">
      <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-mysql"></use>
    </svg>
    <p class="skill__text">MySQL</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
  <div class="skill__item">
    <img src="../../../../assets/images/mssql.jpg" alt=""git srcset="" class="skill__png">
    <p class="skill__text">MS SQL</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
  <div class="skill__item">
    <img src="../../../../assets/images/plsql.png" alt=""git srcset="" class="skill__png">
    <p class="skill__text">PL/SQL</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
  <div class="skill__item">
    <svg class="skill__img">
        <use xlink:href="../../../../assets/images/symbol-defs.svg#icon-laravel"></use>
    </svg>
    <p class="skill__text">Laravel</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
  <div class="skill__item">
    <img src="../../../../assets/images/git.png" alt=""git srcset="" class="skill__png">
    <p class="skill__text">Git</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
  <div class="skill__item">
    <img src="../../../../assets/images/net.jpg" alt=""git srcset="" class="skill__png">
    <p class="skill__text">ASP.NET</p>
    <div class="skill__level">
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item skill__level-item_fill"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
      <div class="skill__level-item"></div>
    </div>
  </div>
</div>
