@import 'variable';
@import 'mixins';
@import 'icon';

.skill {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 20%));
  gap: 8rem;
  width: 90%;
  margin: 5rem auto 0 auto;

  @include response (laptop) {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 20%));
  }

  @include response (tablet) {
    width: 100%;
    margin: 0;
    margin-top: 5rem;
  }


  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > * {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }

  &__img {
    width: 10rem;
    height: 10rem;
  }

  &__text {
    font-size: 2.4rem;
    font-weight: 700;
    color: $color-gray1;
  }

  &__level {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__level-item {
    width: calc(100% / 6);
    height: 1.4rem;
    border: 1px solid $color-gray3;

    &_fill {
      background-color: $color-gray3;
    }
  }
}
