/* You can add global styles to this file, and also import other style files */
$laptop: 75em; // 1200px
$tablet: 62.25em; // 996px
$phone: 37.5em; // 600px

$color-gray1: #333;
$color-gray2: #ccc;
$color-gray3: #555;
$color-gray4: #ebebeb;
$color-shadow: #ddd;
$color-blue-light: #6fa3e3;
$color-blue-dark: #194985;
$color-blue-light-second: #90a4bd;
$color-green-light: #1ad423;
$color-green-dark: #108515;
$color-orange-light: #f1b174;
$color-orange-dark: #c9701c;
$color-red-light: #e75f5f;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  padding: 2rem 4rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: $color-gray1;
  box-sizing: border-box;
}
