/* You can add global styles to this file, and also import other style files */
@import './assets/scss/variable';
@import './assets/scss/mixins';
@import "~swiper/swiper-bundle.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  padding: 2rem 4rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: $color-gray1;
  box-sizing: border-box;

  @include response (tablet) {
    padding: 6rem 2rem;
  }
}

// swiper
.swiper-slide {
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
